DOCKER_REGISTRY=docker.io
PROJECT_NAME=qd-122-spring-transfer

FRONTEND_PORT=3122
BACKEND_PORT=8122
MYSQL_PORT=3422
REDIS_PORT=6422

MYSQL_ROOT_PASSWORD=spring_transfer_2024
MYSQL_DATABASE=spring_transfer
TZ=Asia/Shanghai
